---
---
@import "{{site.theme}}";

/* START numbered headings */
body {
  counter-reset: a;
}

h2:before {
  content: counter(a)".";
}

h2 {
  counter-increment: a;
  counter-reset: b;
}

h3:before {
  content: counter(a)"."counter(b)".";
}

h3 {
  counter-increment: b;
}
/* END numbered headings */
