---
---
@import "{{site.theme}}";

/* START numbered headings */
article {
  counter-reset: a;
}

article h2:before {
  content: counter(a)" ";
}

article h2 {
  counter-increment: a;
  counter-reset: b;
}

article h3:before {
  content: counter(a)"."counter(b)" ";
}

article h3 {
  counter-increment: b;
}
/* END numbered headings */
